body {
    color: var(--color-white);
  }

  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: #3b2d28;
  }
  
  /*Inicio*/
  
  #inicio {
      padding-top: 6em;
  }

  

  
  /*Footer*/
  
  #footer__p {
    background-color:#adb5bd;
    background-repeat: no-repeat;
    
    background-attachment: fixed;
    background-blend-mode:multiply ;
    color: white;
    background-size:1900px;
    font-size: 1em;
    height: 4em;
  }
  
  
  :root {
    --color-white: #f3f3f3;
   
  }

  
  /* nav inferior */
  

  
  ul {
    width: auto;
    list-style-type: none;
    margin: 0;
    padding-top: 0;
    overflow: hidden;
    background-color: #333333;
    text-align: center;
    border-radius: none;
  }

 
  
  li a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #212529;
  }

/*CARRITO*/

 
header, .alert{
  z-index: 100;
}
.description{
  height: 25px;
  overflow: hidden;
  transition: height .3s ease-in .3s;
}
.description:hover{
  height: 80px;
}
.carrito{
  min-height: 80vh;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}
.table__productos{
  display: flex;
}
.table__productos > img{
  width: 9rem;
  object-fit: contain;
  border-radius: 6px;
  margin-right: 20px;
}
.table__cantidad > input{
  width: 40px;
  border: none;
  outline: 0;
  font-size: 16px;
  font-weight: 700;
  margin-right: 30px;
  margin-bottom: 20px;
}
.hide, .remove{
  display: none;
}